@charset "utf-8";

.hidden
{
	display: none;
}

html
{
	width: 100%;
	height: 100%;
}

body
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
}

video, header
{
	-webkit-animation-name: logoAnim;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	position: absolute;
	width: 100%;
	margin: 0 auto;
}

@-webkit-keyframes logoAnim
{
	0% {
		opacity: 1;
		display: block;
	}
	60% {
		 opacity: 1;
	}
	99% {
		display:block;
	}
	100% {
		display: none;
		opacity: 0
	}
}

#mainContainer
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#mainBackground
{
	position: absolute;
}

div
{
	-webkit-animation-name: pageAnim;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes pageAnim
{
	0% {
		opacity: 0;
	}
	80% {
		transform: translateY(20px); 
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

.background
{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	position: absolute;
}

#background1 img
{
	position: absolute;
	z-index: 3;
}

#background2 img
{
	position: relative;
	z-index: 4;
}

.designNotes
{
	width: 100%;
	position: absolute;
}

#note1, #note2, #note3
{
	z-index: 7;
}

#note1
{
	width: 200px;
    margin-left: 35px;
    margin-top: 160px;
	-webkit-animation-name: note1;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: infinite;
	position: absolute;
}

@-webkit-keyframes note1
{
	0% {
		filter: brightness(130%); 
	}
	50%
	{
		filter: brightness(60%);
	}
	100% {
		filter: brightness(130%);
	}
}


#note2
{
	width: 150px;
	margin-left: 300px;
	margin-top: 450px;
	-webkit-animation-name: note2;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	position: absolute;
}

@-webkit-keyframes note2
{
	0% {
		filter: brightness(130%); 
	}
	50%
	{
		filter: brightness(60%);
	}
	100% {
		filter: brightness(130%);
	}
}

#note3
{
	width: 150px;
	margin-left: 1000px;
	margin-top: 250px;
	-webkit-animation-name: note2;
	-webkit-animation-duration: 9s;
	-webkit-animation-iteration-count: infinite;
	position: absolute;
}

@-webkit-keyframes note2
{
	0% {
		filter: brightness(130%); 
	}
	50%
	{
		filter: brightness(60%);
	}
	100% {
		filter: brightness(130%);
	}
}

#v1
{
	width: 180px;
	margin-left: 200px;
	margin-top: 330px;
	filter: brightness(80%);
	position: absolute;
}

#v2
{
	width: 180px;
	margin-top: 330px;
	margin-left: 550px;
	filter: brightness(80%);
	position: absolute;
}

#v3
{
	width: 180px;
	margin-left: 850px;
	margin-top: 135px; 
	filter: brightness(80%);
	position: absolute;
}

.dropzones
{
	position: absolute;
	width: 100%;
	resize: horizontal;
	z-index: 6;
}

.dropzone:hover
{	
	transition: 2s ease;
	-webkit-animation-name: dropzoneGlow;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes dropzoneGlow
{
	0% {
		box-shadow: 0px 0px 10px 10px #ccc;
		opacity: 0; 
	}
	30%
	{
		opacity: 1;
	}
	100% {
		box-shadow: 0px 0px 30px 30px #ccc;
		opacity: 0;
	}
}

#crash
{
	position: absolute;
	width: 185px;
	height: 180px;
	left: 300px;
	top: 68px;
	border-radius: 200px;
	cursor: pointer;
}

#hi-tom
{
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 200px;
	cursor: pointer;
	left: 410px;
	top: 290px;
}

#snare
{
	position: absolute;
	width: 155px;
	height: 155px;
	border-radius: 200px;
	cursor: pointer;
	left: 225px;
	top: 295px;
}

#med-tom
{
	position: absolute;
	width: 145px;
	height: 150px;
	border-radius: 200px;
	cursor: pointer;
	top: 285px;
	left: 615px;
}

#floor-tom
{
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 200px;
	cursor: pointer;
	top: 440px;
	left: 660px;
}

#bass-drum
{
	position: absolute;
	width: 110px;
	height: 110px;
	border-radius: 200px;
	cursor: pointer;
	left: 445px;
	top: 190px;
}

#crash2
{
	position: absolute;
	width: 220px;
	height: 215px;
	border-radius: 200px;
	cursor: pointer;
	left: 755px;
	top: 390px;
}

#ride
{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	cursor: pointer;
	left: 610px;
	top: 115px;
}

#open-hat
{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 200px;
	cursor: pointer;
	left: 743px;
	top: 253px;
}

#kick
{
	position: absolute;
	width: 20px;
	height: 35px;
	transform: rotate(-30deg);
	cursor: pointer;
	border-radius: 5px;
	top: 420px;
	left: 405px;
}

.pianoKeys
{
	margin: 0 auto;
}

.rows
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	z-index: 7;
}

.pianoKey
{
	height: 5rem;
	width: 5rem;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 100px;
	border: solid white 3px;
	z-index: 7;
	transition: all .5s;
	margin-top: 530px;
}

kbd
{
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: white;
	line-height: 5rem;
	margin-left: 2rem;
}

.pianoKeyTransition
{
	transform: scale(1.2);
	height: 500px;
	background-color: #eee;
	transform: translateY(-500px);
}

