@charset "utf-8";

.hidden
{
	display: none;
}

body
{
	background-image: url(../images/backdrop-2.jpg);
	background-repeat: no-repeat;
}

.mainContainer
{
	height: 768px;
	width: 1366px;
}

.background
{
	margin: 0 auto;
	width: 1355px;
	height: 768px;
	position: absolute;
}

#background1 img
{
	position: absolute;
}

#background2 img
{
	position: relative;
}

.drumsticks
{
	display: flex;
	flex-direction: row;
	cursor: pointer;
	position: absolute;
	z-index: 7;
}

#drumstick1
{
	height: 250px;
	width: 100px;
	transform: rotate(-20deg);
	padding: 30px;
}

.dropzones
{
	position: relative;
	height: 768px;
	width: 1366px;
	resize: horizontal;
}

.dropzone:hover
{	
	transition: 2s ease;
	-webkit-animation-name: dropzoneGlow;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes dropzoneGlow
{
	0% {
		box-shadow: 0px 0px 10px 10px #f4e542;
		opacity: 0; 
	}
	30%
	{
		opacity: 1;
	}
	100% {
		box-shadow: 0px 0px 30px 30px #f4c242;
		opacity: 0;
	}
}

#crash
{
	position: relative;
	width: 210px;
	height: 200px;
	border-radius: 200px;
	cursor: pointer;
	left: 340px;
	top: 80px;
}

#hi-tom
{
	position: relative;
	width: 160px;
	height: 160px;
	border-radius: 200px;
	cursor: pointer;
	left: 460px;
	top: 130px;
}

#snare
{
	position: relative;
	width: 130px;
	height: 130px;
	border-radius: 200px;
	cursor: pointer;
	left: 500px;
	top: -150px;
}

#med-tom
{
	position: relative;
	width: 160px;
	height: 160px;
	border-radius: 200px;
	cursor: pointer;
	left: 695px;
	top: -160px;
}

#floor-tom
{
	position: relative;
	width: 155px;
	height: 155px;
	border-radius: 200px;
	cursor: pointer;
	left: 745px;
	top: -155px;
}

#bass-drum
{
	position: relative;
	width: 170px;
	height: 170px;
	border-radius: 200px;
	cursor: pointer;
	left: 255px;
	top: -470px;
}

#crash2
{
	position: relative;
	width: 245px;
	height: 245px;
	border-radius: 200px;
	cursor: pointer;
	left: 850px;
	top: -535px;
}

#ride
{
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 200px;
	cursor: pointer;
	left: 690px;
	top: -1085px;
}

#open-hat
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	cursor: pointer;
	left: 845px;
	top: -1150px;
}

#kick
{
	position: relative;
	width: 20px;
	height: 35px;
	transform: rotate(-30deg);
	cursor: pointer;
	left: 460px;
	top: -1160px;
	border-radius: 5px;
}

.pianoKeys
{
	display: flex;
	flex-direction: column;
	margin-top: -500px;
}

.rows
{
	display: flex;
	flex-direction: row;
	transform: translateY(300px);
}

.pianoKey
{
	height: 60px;
	width: 60px;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 100px;
	border: solid white 3px;
	margin: 0 auto;
/*	-webkit-animation-name: pianoKeyGlow;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;*/
	transition: all .5s;
}

/*@-webkit-keyframes pianoKeyGlow
{
	0% {
		transform: scale(1);
	}
	50%
	{
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}*/

kbd
{
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: white;
	line-height: 60px;
	margin-left: 22px;
	/*-webkit-animation: inherit;*/
}

.pianoKeyTransition
{
	/*height: 100px;
	width: 100px;
	border: none;
	background-color: rgba(255, 255, 255, .5);*/
	transform: scale(1.2);
	height: 500px;
	background-color: #eee;
	transform: translateY(-500px);
}
/*	-webkit-animation-name: pianoKeyPlayTransition;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes pianoKeyPlayTransition
{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}*/